@import "_config";

#history {
  .cut-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    @include tablet {
      margin-top: 0;
    }
  }

  .cut-1-left {
    position: relative;
    height: 100%;
    margin-top: 1vw;
  }
  .cut-1-left-banner {
    width: 30.5vw;
    @include tablet {
      width: 50%;
    }
  }
  .cut-1-left-para {
    position: absolute;
    top: 0;
    writing-mode: vertical-rl;
    line-height: 1;
    margin-left: 14vw;
    h1 {
      font-size: 9vw;
      font-family: $cor;
      font-weight: 400;
    }
    h4 {
      font-family: $serif;
      font-size: 1.5vw;
      letter-spacing: 5px;
    }
    @include tablet {
      writing-mode: unset;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 22%;
      margin-left: 0;
      padding-left: 4vw;
      h1 {
        font-size: 14vw;
      }
    }
  }
  .cut-1-left-para-first {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    gap: 1vw;
    @include tablet {
      width: 65%;
      gap: 10vw;
    }
  }
  .cut-1-left-para-line {
    width: 1px;
    height: 5vw;
    left: -1vw;
    position: relative;
    background-color: black;
    @include tablet {
      top: 2vw;
      left: unset;
      width: 17vw;
      height: 1px;
    }
  }
  .cut-1-left-para-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      width: 65%;
      gap: 6vw;
      > h4 {
        position: relative;
        font-size: 5.5vw;
        width: 100%;
        padding-bottom: 1vw;
        &::after {
          content: "";
          position: absolute;
          bottom: -30%;
          height: 1px;
          width: 100%;
          background-color: black;
          left: 0;
        }
      }
    }
  }
  .cut-1-left-para-line-second {
    width: 1px;
    height: 7vw;
    position: relative;
    background-color: black;
  }
  .cut-1-right-img {
    position: relative;
    top: 8vw;
  }
  .cut-1-right-img-1 {
    position: absolute;
    top: 13.5vw;
    width: 24vw;
    left: -10vw;
    z-index: 2;
  }
  .cut-1-right-img-2 {
    width: 38vw;
    position: relative;
    z-index: 1;
  }

  .cut-1-fixed-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 17vw;
    filter: drop-shadow(1px 1px 1px black);
  }

  //第2cut
  .cut-2 {
    display: flex;
    margin-top: 10vw;
    @include tablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .cut-2-left {
    position: sticky;
    top: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5vw;
    width: 11vw;
    height: 5vw;
    @include tablet {
      width: 100%;
      flex-direction: row;
      width: 85%;
      gap: 10vw;
      > .cut-2-link:nth-child(1) {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          background-color: black;
          width: 1px;
          height: 70%;
          right: -18%;
        }
      }
    }
  }
  .cut-2-link {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 12vw;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 1vw;
      > :nth-child(1) {
        color: #918781;
      }
      > :nth-child(2) {
        color: #cfb38e;
      }
      h3 {
        font-size: $subTitle;
        font-weight: 400;
      }
    }
    @include tablet {
      width: auto;
      margin-left: 0;
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 3vw;
        > :nth-child(1) {
        }
        > :nth-child(2) {
        }
        h3 {
          font-size: $contentSizePH;
          font-weight: 400;
        }
      }
    }
  }
  .cut-2-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-right: 12vw;
    @include para();
    @include tablet {
      padding-right: 0;
    }
  }
  .cut-2-right-top-img {
    width: 85%;
    margin-top: 10%;
  }
  .cut-2-right-top-para {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      text-align: center;
      letter-spacing: 2px;
    }
    p {
      text-align: center;
    }
    .line {
      margin-top: 0.5vw;
      margin-bottom: 4vw;
    }
    @include tablet {
      width: 85%;
      br {
        display: block;
      }
      h1 {
        font-size: 4vw;
        color: #666666;
      }
      h3 {
        text-align: center;
        order: -1;
        margin-top: 12%;
      }
      .line {
        margin-bottom: 7vw;
        margin-top: 7vw;
      }
      p {
        text-align: start;
        br {
          display: none;
        }
      }
    }
  }
}
