#history {
  position: relative;
  padding-top: 4.5vw;
  .cut-1 {
    display: flex;
    justify-content: space-between;
    @include tablet {
      margin-top: 0;
      flex-direction: column;
    }
  }

  .cut-1-left {
    position: relative;
    height: 100%;
    margin-top: 1vw;
  }
  .cut-1-left-banner {
    width: 30.5vw;
    @media screen and (max-width: 1920px) {
      width: 29vw;
    }
    @include tablet {
      width: 100%;
      img {
        width: 50%;
        height: auto;
      }
    }
  }
  .cut-1-left-para {
    position: absolute;
    top: 0;
    writing-mode: vertical-rl;
    line-height: 1;
    margin-left: 14vw;
    margin-top: 1vw;
    h1 {
      font-size: 9vw;
      font-family: $cor;
      font-weight: 400;
    }
    h4 {
      font-family: $serif;
      font-size: 1.5vw;
      letter-spacing: 5px;
      font-weight: 500;
    }
    @include tablet {
      writing-mode: unset;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 27%;
      margin-left: 0;
      padding-left: 4vw;
      h1 {
        font-size: 14vw;
      }
    }
  }
  .cut-1-left-para-first {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1vw;
    @include tablet {
      width: 65%;
      gap: 9vw;
      margin-left: 10vw;
      justify-content: space-between;
    }
  }
  .cut-1-left-para-line {
    width: 1px;
    height: 5vw;
    line-height: 1;
    left: -1vw;
    position: relative;
    background-color: black;
    @include tablet {
      top: 2vw;
      left: unset;
      width: 100%;
      height: 1px;
    }
  }
  .cut-1-left-para-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      width: 65%;
      gap: 4vw;
      margin-left: 10vw;
      > h4 {
        position: relative;
        font-size: 5.5vw;
        width: 100%;
        padding-bottom: 1vw;
        font-weight: 500;
        &::after {
          content: "";
          position: absolute;
          bottom: -30%;
          height: 1px;
          width: 100%;
          background-color: black;
          left: 0;
        }
      }
    }
  }
  .cut-1-left-para-line-second {
    width: 1px;
    height: 7vw;
    position: relative;
    background-color: black;
  }
  .cut-1-right-img {
    position: relative;
    top: 8vw;
  }
  .cut-1-right-img-1 {
    position: absolute;
    top: 13.5vw;
    width: 24vw;
    left: -10vw;
    z-index: 2;
    overflow: hidden;
  }
  .cut-1-right-img-2 {
    width: 38vw;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .cut-1-fixed-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 17vw;
    filter: drop-shadow(1px 1px 1px black);
  }

  //第2cut
  .cut-2 {
    display: flex;
    margin-top: 10vw;
    @include tablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .cut-1-left-para-first-h1,
  .cut-1-left-para-second-h4,
  .cut-1-left-para-second-h1 {
    position: relative;
    overflow: hidden;
    div {
      animation-name: shine;
      animation-duration: 3.8s;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      transform-origin: left center;
    }
  }
  @keyframes shine {
    0% {
      color: #000000;
    }
    20% {
      color: yellow;
    }
    40% {
      color: #000000;
    }
    100% {
      color: #000000;
    }
  }
  .cut-2-left {
    position: sticky;
    top: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5vw;
    width: 20%;
    height: 5vw;
    padding-left: 5%;
    @include tablet {
      position: relative;
      width: 100%;
      flex-direction: row;
      width: 85%;
      gap: 10vw;
      padding-left: 0%;
      top: unset;
      > .cut-2-link:nth-child(1) {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          background-color: black;
          width: 1px;
          height: 70%;
          right: -18%;
        }
      }
    }
  }
  .cut-2-link {
    display: flex;
    align-items: center;
    width: 100%;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 1vw;
      font-family: $serif;
      > :nth-child(1) {
        color: #918781;
      }
      > :nth-child(2) {
        color: #cfb38e;
      }
      h3 {
        font-size: $subTitle;
        font-weight: 400;
      }
    }
    @include tablet {
      width: auto;
      margin-left: 0;
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 3vw;
        > :nth-child(1) {
        }
        > :nth-child(2) {
        }
        h3 {
          font-size: $contentSizePH;
          font-weight: 400;
        }
      }
    }
  }
  .cut-2-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    padding-right: 20%;
    @include para();
    @include tablet {
      padding-right: 0;
    }
  }
  .cut-2-right-top-img {
    width: 85%;
    margin-top: 10%;
  }
  .cut-2-right-top-para {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      text-align: center;
      letter-spacing: 2px;
    }
    p {
      text-align: center;
    }
    .line {
      margin-top: 0.5vw;
      margin-bottom: 4vw;
    }
    @include tablet {
      width: 100%;
      br {
        display: block;
      }
      h1 {
        font-size: 4vw;
        color: #666666;
      }
      h3 {
        text-align: center;
        order: -1;
        margin-top: 12%;
      }
      .line {
        margin-bottom: 7vw;
        margin-top: 7vw;
      }
      p {
        text-align: start;
        br {
          display: none;
        }
      }
    }
  }

  //輪播
  .cut-2-swiper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  //輪播按鈕
  .cut-2-swiper-nav-line {
    width: 85%;
    height: 1px;
    background-color: #d1af8b;
    position: relative;
    margin-top: 10vw;
    @include tablet {
      width: 70%;
      margin-top: 30vw;
      margin-bottom: 10vw;
    }
  }
  .cut-2-swiper-button-prev {
    width: 2vw;
    left: -3vw;
    @include tablet {
      width: 8vw;
      left: -12vw;
    }
  }
  .cut-2-swiper-button-next {
    width: 2vw;
    right: -3vw;
    @include tablet {
      width: 8vw;
      right: -12vw;
    }
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    bottom: -0.5vw;
    top: unset;
    @include tablet {
      bottom: -1.4vw;
    }
  }
  .cut-2-swiper-pagination-main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 1s;
    h4 {
      font-size: 1vw;
      font-family: $serif;
      color: #967659;
      margin-bottom: 1vw;
    }
    .cut-2-swiper-pagination-main-circle {
      width: 1vw;
    }
    .text-inactive {
      color: black;
    }
    .circle-inactive {
      filter: grayscale(1);
    }
    .light-circle {
      position: absolute;
      top: 0;
      transform: scale(0);
      pointer-events: none;
    }
    @include mobile {
      h4 {
        font-size: 3.75vw;
        margin-bottom: 2vw;
      }
      .cut-2-swiper-pagination-main-circle {
        width: 3vw;
      }
    }
  }
  .cut-2-swiper-pagination-main:hover {
    h4 {
      font-size: 1vw;
      font-family: $serif;
      color: #967659;
      margin-bottom: 1vw;
      transition: all 1s;
    }

    .circle-inactive {
      filter: none;
      transition: all 1s;
    }
    .light-circle {
      transition: all 1s;
      transform: scale(4);
      opacity: 0;
      pointer-events: none;
    }
  }

  .swiper-pagination-none {
    display: none;
  }

  //輪播內容
  .cut-2-swiper-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .cut-2-swiper-main-pic {
    width: 100%;
    margin-top: 7vw;
  }
  .cut-2-swiper-main-para {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    margin-top: 7vw;
    @include tablet {
      position: relative;
      margin-top: 18vw;
    }
  }
  .cut-2-swiper-main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &:first-child {
      .cut-2-swiper-main-content-year {
        margin-top: 0%;
        margin-bottom: 1vw;
      }
      .cut-2-swiper-main-content-para-left {
        margin-top: 0%;
      }
    }
    &:last-child {
      .cut-2-swiper-main-content-year {
        margin-bottom: 0%;
      }
    }
    @include tablet {
      align-items: flex-start;
      margin-top: 3vw;
    }
  }
  .cut-2-swiper-main-content-year {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vw;
    margin-bottom: 1vw;
    h2 {
      font-size: $mainTitle;
      font-weight: 400;
      color: #d1af8b;
    }
    h5 {
      font-size: 1.1vw;
      font-family: $cor;
      font-weight: 400;
      color: #d1af8b;
    }
    @include tablet {
      z-index: 1;
      background-color: white;
      width: 15vw;
      height: 15vw;
      border-radius: 50%;
      border: 1px solid #a37e57;
      h2 {
        font-size: 5.5vw;
      }
      h5 {
        display: none;
      }
    }
  }

  .cut-2-swiper-main-content-para {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    height: 100%;
    @include tablet {
      padding-left: 7vw;
    }
  }
  .cut-2-swiper-main-content-para-dot {
    position: relative;
    width: 20%;
    height: 100%;
    text-align: center;
    @include tablet {
      position: unset;
      width: unset;
    }
  }

  // .cut-2-swiper-main-content-para-dot-inner {
  //   position: absolute;
  //   width: 6px;
  //   height: 70%;
  //   margin: auto;
  //   background-color: #d1af8b;
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: 48.25%;
  //     right: -3.5vw;
  //     width: 0.25vw;
  //     height: 0.25vw;
  //     border-radius: 50%;
  //     background-color: #d1af8b;
  //   }
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     top: 50%;
  //     width: 3.5vw;
  //     height: 1px;
  //     background-color: #d1af8b;
  //   }
  // }

  .cut-2-swiper-main-content-para-left {
    position: relative;
    width: 70%;
    margin-top: 5vw;
    @include para();
    h3 {
      margin-bottom: 1.25vw;
    }
    p {
      padding-left: 0.5vw;
    }
    @include tablet {
      width: 100%;
      h3 {
        margin-bottom: 3vw;
      }
    }
  }

  .cut-2-swiper-content-para-dot-back {
    margin: auto;
    width: 6px;
    height: 100%;
    background-color: #efefef;
    @include tablet {
      width: 4px;
      position: absolute;
      left: 9.75%;
      height: 103%;
      top: -2%;
    }
  }
  .cut-2-swiper-main-content-para-dot-inner {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    left: -14.6%;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    @include tablet {
      display: none;
    }
  }
  .cut-2-swiper-main-content-para-dot-inner-line {
    height: 100%;
    width: 6px;
    background-color: #d1af8b;
  }
  .cut-2-swiper-main-content-para-dot-inner-line-2 {
    width: 3.5vw;
    height: 1px;
    background-color: #d1af8b;
  }
  .cut-2-swiper-main-content-para-dot-inner-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #d1af8b;
  }
  .dot-inner-inactive {
    display: none;
  }
  .cut-2-swiper-main-content-para-left:hover {
    .cut-2-swiper-main-content-para-dot-inner {
      opacity: 1;
      transition: all 0.25s ease-in-out;
    }
  }
  @media screen and (max-width: 1920px) {
    .cut-2-swiper-main-content-para-dot-inner {
      left: -14.75%;
    }
  }
  //cut-3
  .cut-3 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @include tablet {
      display: none;
    }
  }

  .right-bottom-fixed {
    bottom: 0;
    right: 0;
    width: 37vw;
    margin-bottom: -8vw;
    z-index: 1;
  }
  .right-bottom-fixed-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24vw;
    margin-bottom: -8vw;
    z-index: 0;
    filter: drop-shadow(1px 1px 1px black);
  }

  //左邊中間的線
  .left-middle-fixed {
    position: absolute;
    top: 47%;
    left: 0%;
    width: 20vw;
    filter: drop-shadow(1px 1px 1px black);
    z-index: -1;
  }
  //右邊中間的線
  .right-middle-fixed {
    position: absolute;
    top: 60%;
    right: 0%;
    width: 15vw;
    filter: drop-shadow(1px 1px 1px black);
    z-index: -1;
  }
}
