#origin {
  --imgTop: 0%;
  --imgLeft: 0%;
  --peopleTop: 0%;
  --peopeleLeft: 0%;
  padding-top: 4.5vw;
  .cut-1 {
    display: flex;
    justify-content: space-between;
    @include tablet {
      margin-top: 0;
      flex-direction: column;
    }
  }

  .cut-1-left {
    position: relative;
    height: 100%;
    margin-top: 1vw;
  }
  .cut-1-left-banner {
    width: 30.5vw;
    @media screen and (max-width: 1920px) {
      width: 29vw;
    }
    @include tablet {
      width: 90%;
      img {
        width: 50%;
        height: auto;
      }
    }
    @include mobile {
      width: 100%;
      img {
        width: 50%;
        height: auto;
      }
    }
  }
  .cut-1-left-para {
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-rl;
    line-height: 1;
    margin-left: 14vw;
    margin-top: 1vw;
    h1 {
      font-size: 9vw;
      font-family: $cor;
      font-weight: 400;
    }
    h4 {
      font-family: $serif;
      font-weight: 500;
      font-size: 1.75vw;
      letter-spacing: 10px;
    }
    @include tablet {
      writing-mode: unset;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 22%;
      margin-left: 0;
      padding-left: 4vw;
      h1 {
        font-size: 12vw;
      }
    }
    @include mobile {
      writing-mode: unset;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 27%;
      margin-left: 0;
      padding-left: 4vw;
      h1 {
        font-size: 14vw;
      }
    }
  }
  .cut-1-left-para-first {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    @include tablet {
      width: 60%;
      gap: 4vw;
      margin-left: 10vw;
      justify-content: space-between;
    }
    @include mobile {
      width: 65%;
      gap: 4vw;
      margin-left: 10vw;
      justify-content: space-between;
    }
  }

  .cut-1-left-para-first-h1,
  .cut-1-left-para-second-h4,
  .cut-1-left-para-second-h1 {
    position: relative;
    overflow: hidden;
    div {
      animation-name: origin_shine;
      animation-duration: 3.8s;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      transform-origin: left center;
    }
    @include tablet {
      overflow: hidden;
    }
  }
  .cut-1-left-para-first-h1 {
    @include tablet {
      width: 100%;
    }
  }

  .cut-1-left-para-second-h4 {
    @include tablet {
      margin-top: 2vw;
    }
  }

  .cut-1-left-para-second-h1 {
    @include tablet {
      width: 35%;
    }
  }

  .bottom-line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 2vw;
  }

  @keyframes origin_shine {
    0% {
      color: #000000;
    }
    20% {
      color: rgb(201 201 0);
    }
    40% {
      color: #000000;
    }
    100% {
      color: #000000;
    }
  }
  .cut-1-left-para-line {
    width: 1px;
    height: 5vw;
    left: -1vw;
    position: relative;
    background-color: black;
    @include tablet {
      top: 2vw;
      left: unset;
      width: 45%;
      height: 1px;
    }
  }
  .cut-1-left-para-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
    @include tablet {
      width: 60%;
      gap: 4vw;
      margin-left: 10vw;
      > h4 {
        position: relative;
        font-size: 4.5vw;
        width: 100%;
        font-weight: 500;
        letter-spacing: 3px;
      }
    }
    @include mobile {
      width: 65%;
      gap: 4vw;
      margin-left: 10vw;
      > h4 {
        position: relative;
        font-size: 5.5vw;
        width: 100%;
        font-weight: 500;
        letter-spacing: 3px;
      }
    }
  }
  .cut-1-left-para-line-second {
    width: 1px;
    height: 7vw;
    position: relative;
    background-color: black;
  }
  .cut-1-right-img {
    position: relative;
    top: 8vw;
  }
  .cut-1-right-img-1 {
    position: absolute;
    top: 13.5vw;
    width: 24vw;
    left: -10vw;
    z-index: 2;
    overflow: hidden;
  }
  .cut-1-right-img-2 {
    width: 38vw;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .cut-1-fixed-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 17vw;
    filter: drop-shadow(1px 1px 1px black);
  }

  //第2cut
  .cut-2 {
    display: flex;
    margin-top: 10vw;
    @include tablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .cut-2-left {
    position: sticky;
    top: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5vw;
    width: 20%;
    height: 5vw;
    padding-left: 5%;
    @include tablet {
      position: relative;
      flex-direction: row;
      width: 75%;
      gap: 8vw;
      padding-left: 0%;
      top: unset;
      > .cut-2-link:nth-child(1) {
        position: relative;
        width: 95%;
        &::after {
          content: "";
          position: absolute;
          background-color: black;
          width: 1px;
          height: 60%;
          right: -11%;
        }
      }
    }
    @include mobile {
      position: relative;
      flex-direction: row;
      width: 85%;
      gap: 8vw;
      padding-left: 0%;
      top: unset;
      > .cut-2-link:nth-child(1) {
        position: relative;
        width: 95%;
        &::after {
          content: "";
          position: absolute;
          background-color: black;
          width: 1px;
          height: 60%;
          right: -11%;
        }
      }
    }
  }
  .cut-2-link {
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 2;
    --linkleft: -105%;
    a {
      position: relative;
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 1vw;
      font-family: $serif;
      width: 90%;
      padding: 0vw 1vw;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: var(--linkleft);
        top: 0%;
        z-index: -1;
        transition: all 0.5s;
        background-color: #918781;
      }
      > :nth-child(1) {
        color: #756861;
        transition: all 0.5s;
      }
      > :nth-child(2) {
        color: #c6935c;
        transition: all 0.5s;
      }
      h3 {
        font-size: 1vw;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 2;
      }
    }
    @include tablet {
      width: 100%;
      margin-left: 0;
      a {
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 0vw;
        width: 100%;
        justify-content: space-between;

        > :nth-child(2) {
          letter-spacing: 1px;
        }
        h3 {
          font-size: $contentSizeTb;
          font-weight: 400;
          color: #19191a;
        }
      }
    }
    @include mobile {
      width: 100%;
      margin-left: 0;
      a {
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 0vw;
        width: 100%;
        justify-content: space-between;

        > :nth-child(2) {
          letter-spacing: 1px;
        }
        h3 {
          font-size: $contentSizePH;
          font-weight: 400;
          color: #19191a;
        }
      }
    }
  }
  //側邊滑鼠經過變色
  .cut-2-link:hover {
    a {
      &::after {
        left: 0%;
        transition: all 0.5s;
      }
      > :nth-child(1) {
        color: #ffffff;
        transition: all 0.5s;
      }
      > :nth-child(2) {
        color: #e5d5c1;
        transition: all 0.5s;
      }
    }
    @include tablet {
      a {
        &::after {
          width: 0%;
        }
        > :nth-child(1) {
          color: #756861;
        }
        > :nth-child(2) {
          color: #c6935c;
        }
      }
    }
  }
  .cut-2-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    padding-right: 17.5%;
    overflow: hidden;
    @include para();
    @include tablet {
      padding-right: 0;
      width: 75%;
      overflow: unset;
      padding-bottom: 7vw;
    }
    @include mobile {
      padding-right: 0;
      width: 85%;
      overflow: unset;
      padding-bottom: 7vw;
    }
  }
  .cut-2-right-top-img {
    width: 85%;
    margin-top: 10%;
    @include tablet {
      width: 100%;
      position: relative;
      overflow: hidden;
      img {
        left: var(--imgLeft);
        position: relative;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: var(--imgTop);
        left: var(--imgLeft);
        z-index: 1;
        background-color: rgb(158, 117, 89);
      }
    }
  }
  .cut-2-right-top-para {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    h1 {
      text-align: center;
      letter-spacing: 2px;
    }
    p {
      text-align: center;
    }
    h3 {
      text-align: center;
      br {
        display: none;
      }
    }
    .line {
      margin-top: 1vw;
      margin-bottom: 4vw;
    }
    @include tablet {
      width: 100%;
      br {
        display: block;
      }
      h1 {
        font-size: 5vw;
        margin-top: 12vw;
        margin-bottom: 5vw;
        color: #19191a;
        div {
          font-weight: 500;
          color: #19191a;
          font-size: 5vw;
        }
      }
      h3 {
        text-align: center;
        color: #19191a;
        order: 1;
        margin-bottom: 0vw;
        font-size: 3vw;
        br {
          display: block;
        }
      }
      .line {
        margin-bottom: 7vw;
        margin-top: 7vw;
        order: 2;
      }
      p {
        text-align: start;
        order: 3;
        br {
          display: none;
        }
      }
      .cut-2-right-top-para-h1 {
        width: 105%;
        div {
          font-size: 5vw;
          color: #666666;
        }
      }
    }
    @include mobile {
      width: 100%;
      br {
        display: block;
      }
      h1 {
        font-size: 6vw;
        margin-top: 12vw;
        margin-bottom: 5vw;
        color: #19191a;
        div {
          font-weight: 500;
          color: #19191a;
        }
      }
      h3 {
        text-align: center;
        color: #19191a;
        order: 1;
        margin-bottom: 0vw;
        font-size: 4vw;
        br {
          display: block;
        }
      }
      .line {
        margin-bottom: 7vw;
        margin-top: 7vw;
        order: 2;
      }
      p {
        text-align: start;
        order: 3;
        br {
          display: none;
        }
      }
      .cut-2-right-top-para-h1 {
        width: 105%;
        div {
          font-size: 6vw;
          color: #666666;
        }
      }
    }
  }

  .cut-2-right-top-para-h1 {
    position: relative;
    overflow: hidden;
    div {
      animation-name: shine;
      animation-duration: 3.8s;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      transform-origin: left center;
    }
  }
  @keyframes shine {
    0% {
      color: #19191a;
    }
    20% {
      color: yellow;
    }
    40% {
      color: #19191a;
    }
    100% {
      color: #19191a;
    }
  }
  .cut-2-right-people {
    position: relative;
    width: 27vw;
    margin-top: 3vw;
    z-index: 1;
    overflow: hidden;
    img {
      position: relative;
      left: var(--peopeleLeft);
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: var(--peopleTop);
      left: var(--peopeleLeft);
      z-index: 1;
      background-color: rgb(158, 117, 89);
    }
    @include tablet {
      width: 100%;
      margin-top: 10%;
      position: relative;
    }
  }

  .cut-2-right-middle-para {
    width: 70%;
    margin-top: 12vw;
    @include para();
    .line {
      margin-top: 1vw;
      margin-bottom: 4vw;
    }
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      h1 {
        display: flex;
        align-items: center;
        font-size: 6vw;
        gap: 0vw;
        letter-spacing: 2px;
        margin-bottom: 5vw;
        br {
          display: none;
        }
        div {
          font-size: 5vw;
          font-weight: 500;
        }
      }
      h3 {
        order: 1;
        color: #19191a;
        margin-bottom: 1vw;
        font-size: 3vw;
      }
      .line {
        margin-top: 5vw;
        margin-bottom: 5vw;
        order: 2;
      }
    }
    @include mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      h1 {
        display: flex;
        align-items: center;
        font-size: 6vw;
        gap: 0vw;
        letter-spacing: 2px;
        margin-bottom: 5vw;
        br {
          display: none;
        }
        div {
          font-size: 6vw;
          font-weight: 500;
        }
      }
      h3 {
        order: 1;
        color: #19191a;
        margin-bottom: 1vw;
        font-size: 4vw;
      }
      .line {
        margin-top: 5vw;
        margin-bottom: 5vw;
        order: 2;
      }
    }
  }

  .cut-2-right-middle-para-h1 {
    position: relative;
    overflow: hidden;
    div {
      animation-name: shine;
      animation-duration: 3.8s;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      transform-origin: left center;
    }
  }

  //cut-2背後的線
  .cut-2-right-people-line {
    position: absolute;
    display: flex;
    align-items: center;
    top: 22vw;
    width: 100%;
    z-index: -1;
    @include tablet {
      display: none;
    }
  }
  .rising-curve,
  .decrease-curve {
    width: 100%;
  }

  .decrease-curve {
    position: relative;
    top: 7vw;
  }
  .cut-2-right-bottom-heng-hong {
    position: relative;
    right: -15vw;
    top: -12vw;
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      right: unset;
      top: unset;
      width: 100%;
      margin-top: 5%;
    }
  }
  .cut-2-right-bottom-heng-hong-img {
    width: 43vw;
    filter: drop-shadow(1px 1px 1px black);
    @include tablet {
      width: 100%;
    }
  }
  .cut-2-right-bottom-heng-hong-para {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .cut-2-right-bottom-heng-hong-para-top {
    text-align: center;
    width: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    left: 64%;
    top: 51.5%;
    mask-image: url("../img/share/cloud.webp");
    mask-size: 200%;
    mask-repeat: no-repeat;
    mask-position: center;
    @include para();
    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .heng-hong-para-top-en {
      font-family: $cor;
      font-weight: 500;
    }
    @include tablet {
      h1 {
        font-size: 5.75vw;
        margin-bottom: 1vw;
      }
      h3 {
        margin-bottom: 1vw;
      }
      text-align: center;
      width: 60%;
      position: relative;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 51.5%;
    }
    @include mobile {
      h1 {
        font-size: 6.75vw;
        margin-bottom: 1vw;
      }
      h3 {
        margin-bottom: 1vw;
      }
      text-align: center;
      width: 65%;
      position: relative;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 51.5%;
    }
  }
  .cut-2-right-bottom-heng-hong-para-top-line {
    display: inline-block;
    background-color: black;
    width: 5vw;
    height: 1px;
    margin: auto;
    user-select: none;
    @include tablet {
      width: 12vw;
    }
  }
  .cut-2-right-bottom-heng-hong-para-bottom {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: 60% 35%;
    @include tablet {
      transform-origin: 50% 30%;
    }
  }
  .heng-hong-circle {
    position: absolute;
    top: 0;
    width: 11vw;
    @include tablet {
      width: 22vw;
    }
    @include mobile {
      width: 30vw;
    }
  }
  .heng-hong-circle-1 {
    top: -9%;
    right: 4.5%;
    transform: translate(-8vw, 15vw);
    @include tablet {
      top: -15%;
      right: 0%;
      transform: translate(-26.5vw, 31vw);
    }
    @include mobile {
      top: -21%;
      right: 0%;
      transform: translate(-28vw, 31vw);
    }
  }
  .heng-hong-circle-2 {
    left: -6.5%;
    top: 23%;
    transform: translate(24.9vw, -0.8vw);
    @include tablet {
      top: -15%;
      left: 0%;
      transform: translate(27vw, 31vw);
    }
    @include mobile {
      top: -21%;
      left: 0%;
      transform: translate(26.25vw, 31vw);
    }
  }
  .heng-hong-circle-3 {
    right: 21%;
    top: 62%;
    transform: translate(-0.8vw, -20vw);
    @include tablet {
      right: 32%;
      top: 57%;
      transform: translate(-2.6vw, -34.5vw);
    }
    @include mobile {
      right: 32%;
      top: 51%;
      transform: translate(-0.6vw, -42.5vw);
    }
  }

  //第3cut
  .cut-3 {
    margin-top: -17vw;
    margin-bottom: -8vw;
  }
  .cut-3-img {
    width: 37.5vw;
    z-index: 1;
    position: relative;
  }
  .cut-3-fixed {
    position: absolute;
    left: 3vw;
    bottom: -1vw;
    width: 25vw;
    filter: drop-shadow(1px 1px 1px black);
  }
}
