@import "_config";
@import "_index";
@import "_origin";
@import "_history";
@import "_new-project";
@import "_new-project-inner";
@import "_renew";
@import "_renew-inner";
@import "_last-news";
@import "_last-news-inner";
@import "_classic";
@import "_contact";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
}

img,
video,
canvas {
  width: 100%;
  display: block;
}

section {
  position: relative;
  width: 100%;
}

.pc {
  display: block;
  @include tablet {
    display: none;
  }
}
.ph {
  display: none;
  @include tablet {
    display: block;
  }
}

.swiper-button-prev,
.swiper-button-next {
  &::after {
    content: unset;
  }
}

//navbar
#nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 100%;
  z-index: 99999;
  background-color: rgba(236, 236, 236, 0.3);
  box-shadow: 0px 15px 10px -15px rgba(104, 104, 104, 0.17);
  backdrop-filter: blur(5px);
  @include tablet {
    padding: unset;
    position: fixed;
    flex-direction: column;
  }
}
.bg53 {
  background-color: rgba(53, 53, 53, 0.75);
}
.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  @include tablet {
    padding-left: 7vw;
    padding-right: 5vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
}
.nav-left-icon {
  width: 6vw;
  @include tablet {
    width: 20vw;
  }
}
.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    width: 75%;
    left: 25%;
    position: relative;
    background-color: #807f81;
  }
}
.nav-right-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  a {
    text-decoration: none;
    color: black;
    font-size: 0.8vw;
    font-family: $serif;
    font-weight: 600;
  }
  > :last-child {
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 1px;
      height: 100%;
      right: -1.25vw;
      transform: translate(-50%, -50%);
      top: 50%;
      background-color: black;
    }
  }
  @include tablet {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3.75vw;
      font-weight: 400;
      color: white;
      > span:nth-child(1) {
        // width: 40%;
      }
    }
    // display: none;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
    > :last-child {
      &::after {
        content: unset;
      }
    }
  }
}
.nav-right-list-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 1.25vw;
  margin-left: 1.25vw;
  line-height: 1;
  letter-spacing: 4px;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    left: -1.25vw;
    transform: translate(-50%, -50%);
    top: 50%;
    background-color: black;
  }
  @include tablet {
    padding-left: 10vw;
    margin-top: 13vw;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    &::before {
      content: "";
      width: 70%;
      height: 1px;
      left: 22%;
      transform: unset;
      top: 150%;
      background-color: white;
    }
  }
}
.nav-enName {
  font-size: 3vw;
  letter-spacing: 2px;
  color: #aaaaaa;
}
.nav-right-list-item-line {
  width: 1px;
  height: 3.75vw;
  background-color: white;
  margin-left: 2vw;
  margin-right: 3vw;
}
.nav-right-list-item-number {
  font-family: $cor;
  font-size: 5vw;
  color: #cebb93;
  margin-right: 3%;
  letter-spacing: 2px;
}
.nav-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  .nav-bottom-line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 40vw;
    margin-bottom: 5vw;
  }
  span {
    font-size: 3vw;
    font-family: $micro;
    color: black;
    line-height: 1.8;
  }
}
.nav-hamb-icon {
  display: none;
  @include tablet {
    display: inline-block;
    // width: 3vw;
    // height: 3vw;
    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    // flex-direction: column;
    // border: none;
    // background-color: transparent;
    // pointer-events: auto;
    // z-index: 5;
    // > span {
    //   width: 100%;
    //   height: 1px;
    //   background-color: gray;
    // }
    // > span:nth-child(1) {
    //   transform-origin: left;
    //   transition: all 0.5s;
    // }
    // > span:nth-child(2) {
    //   transition: all 0.5s;
    // }
    // > span:nth-child(3) {
    //   transform-origin: left;
    //   transition: all 0.5s;
    // }
  }
  @include mobile {
  }
}
.hamburger {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 25px;
  height: 2px;
}
.hamburger-box {
  width: 25px;
}
// .hamb-isActive {
//   > span:nth-child(1) {
//     transform: rotate(45deg);
//     transition: all 0.5s;
//   }
//   > span:nth-child(2) {
//     opacity: 0;
//     transition: all 0.5s;
//   }
//   > span:nth-child(3) {
//     transform: rotate(-45deg);
//     transition: all 0.5s;
//   }
// }
//底部footer
#footer {
  position: relative;
  width: 100%;
  background-color: #4e4d4d;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  font-size: 0.8vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-weight: 300;
  margin-top: 8vw;
  z-index: 999;
  span {
    color: #fff;
    font-family: $micro;
    text-decoration: none;
    pointer-events: none;
    margin-right: 0.5%;
  }
  a {
    color: #fff;
    font-family: $micro;
    text-decoration: none;
    pointer-events: none;
  }
  .year {
    margin-right: 0;
  }
  @include tablet {
    position: relative !important;
    flex-direction: column;
    font-size: 2vw;
    margin-top: 25vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    span {
      margin-top: 0.5%;
      margin-bottom: 0.5%;
      margin-right: 0%;
    }
  }
  @include mobile {
    flex-direction: column;
    font-size: 3vw;
    margin-top: 30vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    span {
      margin-top: 1%;
      margin-bottom: 1%;
      margin-right: 0%;
    }
  }
}

//表單錯誤訊息
.error {
  color: red;
  font-size: 0.8vw;
  width: 100%;
  display: flex;
  font-weight: 500;
  font-family: "Noto Serif TC", serif;
  @include tablet {
    font-size: 2vw;
  }
  @include mobile {
    font-size: 3vw;
  }
}
